.about {
  letter-spacing: -0.005em;
}

.about h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2.875rem;
  line-height: 4rem;
}

.about p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  opacity: .8;
}

.about__logo {
  margin-bottom: 30px;
}
