.about {
  min-height: 51.56rem;
  letter-spacing: -0.01rem;
  text-align: left;
  background: url("../img/intro-bg-desktop@1x.jpg") no-repeat center;
  background-size: cover;
  background-color: $black;

  @media (max-width: $tablet) {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    min-height: 21.25rem;
    text-align: inherit;
    background-image: url("../img/intro-bg-tablet@1x.jpg");
    background-size: 100%;
  }

  @media (max-width: $mobile) {
    padding-bottom: 4.31rem;
    min-height: 24.37rem;
    background-image: url("../img/intro-bg-mobile@1x.jpg");
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2.88rem;
  line-height: 4rem;

  @media (max-width: $tablet) {
    margin-bottom: 0.5rem;
    font-size: 1.88rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 1.25rem;
    line-height: 2.62rem;
  }
}

.about p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  opacity: 0.8;

  @media (max-width: $tablet) {
    font-size: 1.13rem;
  }
}

.about__logo {
  margin-bottom: 1.88rem;

  @media (max-width: $tablet) {
    position: absolute;
    top: 1.56rem;
    left: 1.37rem;
  }

  @media (max-width: $mobile) {
    left: 1.12rem;
  }
}
