.about {
  text-align: left;

  @media (max-width: $tablet) {
    text-align: inherit;
  }
}

.about h1 {
  margin: 1.2rem 0 1.5rem;
  font-size: 2.88rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.01rem;
  z-index: 10;

  @media (max-width: $tablet) {
    margin-bottom: 0.56rem;
    font-size: 1.88rem;
  }

  @media (max-width: $mobile) {
    margin: 1.8rem auto 1.25rem;
    width: 288px;
    line-height: 2.62rem;
  }
}

.about p {
  margin: 0;
  max-width: 386px;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  opacity: 0.8;
  z-index: 10;

  @media (max-width: $tablet) {
    margin: 0 auto;
    padding: 0;
    font-size: 1.13rem;
  }

  @media (max-width: $mobile) {
    max-width: 300px;
  }
}

.about__logo {
  display: block;
  width: 67px;
  height: 33px;

  @media (max-width: $tablet) {
    position: absolute;
    top: -101px;
    left: 22px;
  }

  @media (max-width: $mobile) {
    top: -98px;
    left: 18px;
  }
}
