.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $mobile) {
    text-align: left;
  }
}

.contacts h2 {
  @include visually-hidden;
}

.contacts__link {
  padding: 1rem 3.56rem 1rem 2.12rem;
  color: rgba($black, $alpha: 0.5);
  text-decoration: none;


  @media (max-width: $mobile) {
    display: block;
    margin-bottom: 1.38rem;
    padding: 0;

    &--phone {
      padding-left: 1.82rem;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.contacts__link svg {
  margin-bottom: -0.31rem;
  margin-right: 0.7rem;
  fill: $white;
}
