.contacts__link {
  padding: 0 40px;
  color: rgba($black, $alpha: 0.5);
  text-decoration: none;


  @media (max-width: $mobile) {
    display: block;
    margin-bottom: 22px;
  }
}

.contacts__link svg {
  margin-bottom: -5px;
  margin-right: 15px;
}
