.facts h2 {
  margin: 0 0 2.9rem;
  color: $black-special;

  @media (max-width: $tablet) {
    margin: 0 0 2.25rem;
    font-size: 1.5rem;
  }
}

.facts__list {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.38rem;
  line-height: 2.21rem;
  letter-spacing: -0.5px;

  @media (max-width: $mobile) {
    display: block;
    font-size: 1.13rem;
  }
}

.facts__item {
  margin: 0 auto;
  max-width: 16rem;

  @media (max-width: $tablet) {
    margin: 0 auto 2.56rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 3rem;
    max-width: 17rem;
  }
}

.facts__item:first-child {
  margin-bottom: 2.4rem;

  span {
    margin-bottom: 1.1rem;
  }
}

.facts__item span {
  margin-bottom: 1.01rem;
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  color: $green;

  @media (max-width: $mobile) {
    margin-bottom: 0.4rem;
  }
}
