.form {
  text-align: center;
}

.form h2 {
  @include visually-hidden;
}

.form p {
  margin: 3px 0 20px;
  font-size: 17px;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02em;

  @media (max-width: $tablet) {
    font-size: 18px;
  }
}

.form input {
  margin-bottom: 20px;
  padding: 0 30px;
  width: 100%;
  font-size: 15px;
  line-height: 3rem;
  color: rgba($grey-special, 0.5);
  border: none;
  border-radius: 6px;

  @media (max-width: $tablet) {
    border: 1px solid $grey;
  }
}

.form button {
  width: 100%;
  line-height: 3rem;
  border-radius: 6px;
  font-size: 0.94rem;
}
