.form {
  text-align: center;
}

.form h2 {
  @include visually-hidden;
}

.form p {
  margin: 0 0 1.18rem;
  font-size: 1.06rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;

  @media (max-width: $tablet) {
    margin: 0 0 1.88rem;
    font-size: 1.12rem;
  }

  @media (max-width: $mobile) {
    margin: 0 0 1.25rem;
    letter-spacing: 0;
  }
}

.form label {
  @include visually-hidden;
}

.form input {
  margin-bottom: 1.2rem;
  padding: 0.2rem 1.88rem 0;
  width: 100%;
  font-size: 0.97rem;
  line-height: 2.9rem;
  color: rgba($grey-special, 0.5);
  border: none;
  border-radius: 6px;

  @media (max-width: $tablet) {
    margin-bottom: 1.25rem;
    padding: 0 1.25rem;
    border: 1px solid $grey;
  }

  @media (max-width: $mobile) {
    margin-bottom: 1.2rem;
    padding: 0.2rem 1.5rem 0;
    line-height: 2.7rem;
  }
}

.form input:valid {
  border-color: $green;
}

.form button {
  width: 100%;
  line-height: 3rem;
  border-radius: 6px;
  font-size: 0.94rem;
}
