.header {
  position: relative;
  min-height: 825px;
  font-weight: 300;
  color: $white;
}

.header__nav {
  position: absolute;
  top: 0;
  padding: 0 calc(50% - 438px);
  margin-bottom: 265px;
  width: 100%;
}

.header__about {
  padding: 319px calc(59% - 50px) 50px calc(50% - 440px);
  min-height: 825px;
  background: url("../img/intro-bg-desktop@1x.jpg") no-repeat center;
  background-size: cover;
  background-color: $black;
}

.header__form {
  position: absolute;
  top: 319px;
  left: calc(50% + 112px);
  width: 326px;

  @media (max-width: $tablet) {
    position: initial;
    padding: 70px calc(50% - 160px) 70px;
    width: 100%;
    color: $black;
  }
}
