.header {
  position: relative;
  font-weight: 300;
  color: $white;
}

.header__nav {
  position: absolute;
  top: 0;
  padding: 0 calc(50% - 438px);
  margin-bottom: 265px;
  width: 100%;

  @media (max-width: $tablet) {
    position: relative;
    margin: 0;
    padding: 100px 0 138px;
  }
}

.header__about {
  @media (max-width: $tablet) {
    position: relative;
  }
}

.header__form {
  position: absolute;
  top: 319px;
  left: calc(50% + 112px);
  width: 326px;

  @media (max-width: $tablet) {
    position: initial;
    padding: 70px calc(50% - 160px) 70px;
    width: 100%;
    color: $black;
  }

  @media (max-width: $mobile) {
    padding: 70px calc(50% - 144px) 74px;
  }
}
