.header {
  position: relative;
  margin-bottom: 9rem;
  min-height: 825px;
  font-weight: 300;
  color: $white;

  @media (max-width: $tablet) {
    margin-bottom: 4.6rem;
    min-height: auto;
  }

  @media (max-width: $mobile) {
    margin-bottom: 4.8rem;
  }
}

.header__nav {
  position: absolute;
  top: 0;
  padding: 0 calc(50vw - 30.25rem);
  width: 100%;

  @media (max-width: $tablet) {
    position: relative;
  }
}

.header__img-wrapper img {
  height: 825px;
  object-fit: cover;
  background-color: $black;

  @media (max-width: $tablet) {
    height: 340px;
  }

  @media (max-width: $mobile) {
    height: 390px;
  }
}

.header__inner {
  display: flex;
  margin-top: -507px;
  padding: 0 calc(50vw - 27.5rem);

  @media (max-width: $tablet) {
    display: block;
    position: relative;
    margin-top: -234px;
    padding: 0 10rem;
  }

  @media (max-width: $mobile) {
    margin-top: -296px;
    padding: 0 2rem;
  }
}

.header__about {
  padding-right: 2rem;

  @media (max-width: $tablet) {
    margin-bottom: 7.23rem;
    padding: 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 8.7rem;
  }
}

.header__form {
  flex: 1 1 385px;

  @media (max-width: $tablet) {
    padding: 2rem 4rem 0;
  }
}
