.main h1 {
  @include visually-hidden;
}

.main h2 {
  font-size: 1.88rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.main__facts {
  margin-bottom: 9.4rem;
  padding: 0 calc(50vw - 37.62rem);

  @media (max-width: $tablet) {
    margin-bottom: 1.7rem;
    padding: 0 calc(50vw - 18.37rem);
  }
}

.main__types {
  padding: 9.09rem calc(50vw - 37.62rem) 9.5rem;

  @media (max-width: $tablet) {
    padding: 3.4rem calc(50vw - 22rem) 1.3rem;
  }

  @media (max-width: $mobile) {
    padding: 3.4rem calc(50vw - 16rem) 1.3rem;
  }
}

.main__video {
  margin-bottom: 9rem;
  padding: 7.1rem calc(50vw - 29rem) 0;

  @media (max-width: $tablet) {
    margin-bottom: 6.4rem;
    padding: 4.2rem calc(50vw - 15.7rem) 0;
  }
}
