.map p {
  margin: 0;
  margin-bottom: 2.62rem;
  padding: 0 12.5rem;
  font-size: 1.06rem;
  line-height: 1.94rem;
  color: rgba($black, 0.7);

  @media (max-width: $tablet) {
    margin-bottom: 1.2rem;
    padding: 0;
  }

  @media (max-width: $mobile) {
    padding: 0 2rem;
  }
}

.map__frame {
  margin-bottom: 1rem;
  width: 100%;
  height: 33.12rem;
  border: 0;

  @media (max-width: $tablet) {
    height: 34rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 1.6rem;
    height: 15.62rem;
  }
}
