.nav {
  @media (max-width: $tablet) {
    text-align: left;
    background-color: $white;
    z-index: 100;
  }
}

.nav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 873px;
  height: 1px;
  background-color: $white;
  opacity: 0.2;
  transform: translateX(-50%);

  @media (max-width: $tablet) {
    display: none;
  }
}

.nav__toggler {
  display: none;

  &--show {
    @media (max-width: $tablet) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      z-index: 10;
    }
  }
}

.nav--closed .nav__toggler::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 14px;
  width: 22px;
  height: 1px;
  background-color: $black;
  box-shadow:
    0 6px 0 0 $black,
    0 12px 0 0 $black;
}

.nav--opened {
  position: absolute;
  padding: 1.5rem 0 2rem;

  @media (max-width: $mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
  }
}

.nav--opened .nav__toggler {
  background-color: $white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 31px;
    height: 1px;
    background-color: $grey-medium;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav__list {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: $tablet) {
    display: block;
    margin-top: 3.44rem;
  }

  @media (max-width: $mobile) {
    margin-top: 6.25rem;
  }
}

.nav__item {
  flex: 1 0 auto;

  @media (max-width: $tablet) {
    margin-bottom: 1.87rem;
    background: url("../img/arrow-down.svg") no-repeat center right 15px;
    background-color: $light-grey;
  }
}

.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding: 1.62rem 1.25rem 0.94rem;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;

  @media (max-width: $tablet) {
    padding: 1rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    color: $dark;
    opacity: 1;
  }
}

@media (max-width: $tablet) {
  .nav--nojs .nav__toggler {
    display: none;
  }

  .nav--closed .nav__list {
    display: none;
  }
}
