.nav {
  display: flex;
}

.nav__toggler {
  display: none;
}

.nav__list {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  border-bottom: 1px solid rgba($white, 0.7);
}

.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding: 26px 20px 15px;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}
