.video {
  color: $white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect fill='%23131314' width='20' height='20'/%3E%3C/svg%3E");
  background-size: 100% 706px;
  background-repeat: no-repeat;
  background-position: top;

  @media (max-width: $tablet) {
    background-size: 100% 413px;
  }

  @media (max-width: $mobile) {
    background-size: 100% 384px;
  }
}

.video h2 {
  margin: 0;
  margin-bottom: 0.75rem;


  @media (max-width: $tablet) {
    margin-bottom: 1.3rem;
    padding: 0;
    font-size: 1.5rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 1.2rem;
  }
}

.video p {
  margin: 0 auto 3.5rem;
  max-width: 26rem;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 300;
  color: rgba($white, 0.7);

  @media (max-width: $tablet) {
    margin-bottom: 2.44rem;
    max-width: 27rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 3.31rem;
    letter-spacing: -0.01em;
  }
}

.video__box {
  position: relative;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 22px 9px 30px 16px;
  width: 65px;
  height: 65px;
  font-size: 1.19rem;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (max-width: $tablet) {
    transform: scale(136%) translateX(-37%) translateY(-35%);
  }

  @media (max-width: $mobile) {
    bottom: 18px;
    transform: translateX(-50%) translateY(-50%);
  }
}
