.video {
  color: $white;
  min-height: 706px;
  background-color: $black-extra;

  @media (max-width: $tablet) {
    min-height: 413px;
  }

  @media (max-width: $mobile) {
    min-height: 384px;
  }
}

.video h2 {
  margin: 0 0 1rem;

  @media (max-width: $tablet) {
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 1.2rem;
    padding: 0 1rem;
  }
}

.video p {
  margin: 0;
  padding: 0 17rem;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 300;
  color: rgba($white, 0.7);

  @media (max-width: $tablet) {
    padding: 0 1rem;
  }

  @media (max-width: $mobile) {
    padding: 0 1rem;
    letter-spacing: -0.01em;
  }
}

.video__block {
  position: relative;
  margin-top: -207px;
  transform: translateY(50%);

  @media (max-width: $tablet) {
    margin-top: -100px;
  }

  @media (max-width: $mobile) {
    margin: -30px auto 0;
    width: 90%;
  }
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 22px 9px 30px 16px;
  width: 65px;
  height: 65px;
  font-size: 1.19rem;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (max-width: $tablet) {
    transform: scale(139%) translateX(-34%) translateY(-38%);
  }

  @media (max-width: $mobile) {
    transform: translateX(-50%) translateY(-50%);
  }
}
