// Colors

$black: #000000;
$black-special: #1f1f1f;
$dark: #48494d;
$green: #0ad9c6;
$grey: #c9ccd4;
$grey-special: #1c1c1c;
$light-grey: #f6f7f9;
$grey-medium: rgba(#141517, 0.2);
$white: #ffffff;

// Viewports

$max-width: 1127px;
$desktop: 1024px;
$tablet: 1023px;
$mobile: 767px;

//res

$retina: 1.5dppx;
